---
title: Blog
---
<div class="container has-text-centered">
  <br>
  <h1 class="title">Latest Posts</h1>
</div>

<hr>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">

  {% for post in site.posts %}
  <div class="tile is-child">
    <div class="box">
      <h1 class="title">{{ post.title }}</h1>
      <h3 class="subtitle">{{ post.subtitle }}</h3>
      <p>{{ post.excerpt }}</p>
      <br>
      {% capture url %}
        {{ post.url }}
      {% endcapture %}

      {% include continue.html url=url %}
    </div>

  </div>
  {% endfor %}

  </div>
</div>