<div class="code-box">
  <div class="header has-text-centered">
    <div class="columns is-vcentered">
      <div class="column">
        <p>
          {{ include.title }}
        </p>
      </div>
      <div class="column is-narrow">
        <button class="button"
                onclick="copyToClipboard({{ include.code }})">
          <i class="far fa-copy"></i>
        </button>
      </div>
    </div>
  </div>
  {%- highlight js linenos -%}
  {{ include.code }}
  {%- endhighlight -%}
</div>

<script>
  function copyToClipboard(text) {
      var textArea = document.createElement("textarea");
      textArea.style.position = 'fixed';
      textArea.style.top = 0;
      textArea.style.left = 0;
      textArea.style.height = '2em';
      textArea.style.width = '2em';
      textArea.style.padding = 0;
      textArea.style.border = 'none';
      textArea.style.outline = 'none';
      textArea.style.boxShadow = 'none';
      textArea.style.background = 'transparent';
      textArea.value = text;
      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();
      try {
          var successful = document.execCommand("copy");
          var msg = successful ? 'successful' : 'unsuccessful';
          console.log('Copying text command was ' + msg);
      } catch(err) {
          console.log('Oops, unable to copy');
      }
      document.body.removeChild(textArea);
  }
</script>