<section class="hero has-background-light-yellow">

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                {{ site.name }}
            </h1>
            <h2 class="subtitle">
                Hero Subtitle
            </h2>
        </div>
    </div>

    <div class="hero-foot">
        <div class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    {% for item in site.data.navigation %}
                    <li {% if page.url == item.link %}class="is-active"{% endif %}><a href="{{ item.link }}">
                        {{ item.name }}
                    </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</section>