<div id="mc_embed_signup" class="container">
  <div class="box">

    <h1 class="title blog-font has-text-centered">
      {% if include.title %}
      {{ include.title }}
      {% else %}
      Enjoying this project?
      {% endif %}
    </h1>
    <div class="is-size-6 has-text-centered">
      {% if include.text %}
      {{ include.text }}
      {% else %}
      <p>
        Subscribe to be notified whenever a new project is released.
      </p>
      <div>
        <p class="is-size-4 blog-font">Bonus!</p>
        <p>Gain access to an <strong>exclusive</strong> set of <strong>beautiful
          and inspiring</strong> Google Docs and Google Sheets <strong>templates
        </strong> for Suite people like you!
        </p>
      </div>
      {% endif %}
    </div>

    <form action="https://suiteknowledge.us4.list-manage.com/subscribe/post?u=aab4bd908c3e85cee249bef9d&amp;id=212ac2ad78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <!-- EMAIL -->
        <div class="field">
          <div class="control">
            <input class="input" type="email" value="" name="EMAIL"
                   id="mce-EMAIL" placeholder="Email">
          </div>
        </div>

        <!-- NAME -->
        <div class="field">
          <div class="control">
            <input class="input" type="text" value="" name="FNAME"
                   id="mce-FNAME" placeholder="First name">
          </div>
        </div>

        <div id="mce-responses">
          <div id="mce-error-response" style="display:none"></div>
          <div id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aab4bd908c3e85cee249bef9d_212ac2ad78" tabindex="-1" value=""></div>

        <!-- SUBSCRIBE BUTTON -->
        <div class="control">
          <input class="button is-info is-fullwidth blog-font is-size-4"
                 type="submit"
                 value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </div>

      </div> <!-- MC_EMBED_SIGNUP_SCROLL -->
    </form>

  </div> <!-- BOX -->
</div>