@charset "utf-8";

$light-yellow: hsl(48, 100%, 78%);

@import "../mybulma/bulma-0.8.0/bulma.sass";

.blog-body {
  background-color: #f8f8f8;

  hr {
    border-top: 3px dotted #bbbbbb;
  }
}

.sidebar-left, .sidebar-right {
  height: inherit;
}

.has-background-light-yellow {
  background-color: $light-yellow;
}

.blog {
  padding-left: 0;
  padding-right: 0;
}

.message {
  margin-top: 1.5em;
}