<section class="hero has-background-light-yellow">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title blog-title">
        {{ site.name }}
      </h1>
      <br>
      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
          <h3 class="subtitle blog-font is-size-4">
            Where small businesses, freelancers, side hustlers, and productivity
            hackers learn how to get the most out of GSuite.
          </h3>
        </div>
      </div>
<!--      <br>-->
    </div>
  </div>

  <div class="hero-foot">
    <div class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          {% for item in site.data.navigation %}
          <li
              class="blog-font is-size-3{% if page.url == item.link %} is-active{% endif %}">
            <a href="{{ item.link }}">
              {{ item.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</section>